@using GtecClinica.Web.ViewModel.Teste
@model TesteFiltroVm
@{
    Layout = null;
    var lblNome = Html.DisplayNameFor(x => x.LblNome);
}

<hr />
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover table-responsive dt-responsive">
        <thead>
            <tr>
                <th class="text-center">@lblNome</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{

                foreach (var item in Model.Lista)
                {

                    <tr>
                        <td class="text-left">@item.Nome</td>
                        <td class="text-center">
                            <a href="#"><i class="fa fa-lg fa-edit" aria-hidden="true"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="#"><i class="far fa-lg fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>